
<ul class="country-detail-container">
    <li *ngFor="let country of countries" class="country-detail">
        <div class="image-container">
            <img src={{country.flags.png}} alt="{{country.flags.png}}" class="flag" />
        </div>
        
        <div >
            <h2>{{country.name.common}}</h2>
            <div class="details-container">
                <div class="inner-detail-container">
                    <p><span class="common-name">Native Name</span>: {{country.name.official}}</p>
                    <p><span class="common-name">Population</span>: {{country.population}}</p>
                    <p><span class="common-name">Region</span>: {{country.region}}</p>
                </div>
                <div>
                    <p><span class="common-name">Capital</span>: {{country.capital}}</p>
                    <p><span class="common-name">Sub Region</span>: {{country.subregion}}</p>
                    <p><span class="common-name">Top Level Domain</span>: {{country.tld}}</p>
                </div>
            </div>

            <div>
                <h3>Border Countries:</h3>
                <button *ngFor="let eachBorder of country.borders" class="border-countries-btn">{{eachBorder}}</button>
            </div>
        </div>
    </li>
</ul>
