.country-detail-container{
    padding: 1em;
    list-style-type: none;
}

.country-detail{
    margin: 1em;
}

.flag{
    width: 100%;
    object-fit: contain;
}

.common-name{
    font-weight: bold;
    font-size: 1rem;
}

.border-countries-btn{
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: black;
    font-size: 1rem;
    border: none;
    box-shadow: 0 0 3px #757575;
    margin-right: 1rem;
    margin-bottom: 1rem;
}


@media (min-width: 600px){
    .country-detail{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        /* align-items: center; */
    }

    .image-container{
        width: 30%;

    }

    .details-container{
        display: flex;
        justify-content: space-between;
    }

    .inner-detail-container{
        margin-right: 2rem;
    }

}