<div class="col-md-6 mb-4 mt-4">
    <!-- Search form -->
    <form class="form-inline d-flex justify-content-center" (ngSubmit)="onSubmit(countryName.value)">
      <i class="fas fa-search" aria-hidden="true"></i>
      <input #countryName class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search for a country" aria-label="Search">
    </form>
</div>

<ul class="country-container">
    <li *ngFor="let country of countries" class="country-list">
        <img src={{country.flags.png}} alt="{{country.flags.png}}" class="flag" />
        
        <div class="country-details">
            <a routerLink="/detail/{{country.name.common}}">{{country.name.common}}</a>
            <p><span class="common-name">Population</span>: {{country.population}}</p>
            <p><span class="common-name">Region</span>: {{country.region}}</p>
            <p><span class="common-name">Capital</span>: {{country.capital}}</p>
        </div>
    </li>
</ul>
