.country-container{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.country-list{
    margin: 1em;
    box-shadow: 0 0 10px #757575;
    border-radius: 8px;
    width: 20rem;
    height: 25rem;
}

.flag{
    width: 20rem;
    height: 12rem;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.country-details{
    padding: 1em;
}

.common-name{
    font-weight: bold;
    font-size: 14px;
}

.country-details p{
    font-size: 14px;
}